.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml 
config/config.yml
db/schema.rb
config/cucumber.yml
coverage/*
coverage.data
vendor/ruby/
vendor/bundle/
config/secrets.yml
webrat.log

