<% title 'Admin' -%>

<p>Welcome to Admin Section.</p>

<p><%#= link_to 'Sign up as Admin', new_admin_registration_path %></p>
<p><%= link_to "Add language", new_language_path %></p> 
<p><%= link_to "Language list", languages_path %></p>  
<p><%= link_to "Projects list", projects_path %></p>