<div class="crricbz">
        <div style="position: absolute; right: 0px; margin-top: -10px; margin-right: -10px; z-index: 15;"><a onclick="Javascript: closefaceboxlike()" href="Javascript:void(0);"><img height="20" src="/images/closebox.gif"></a>
		</div>
		<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 166px; height: 62px;" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcricbuzz&amp;width=166&amp;connections=0&amp;stream=false&amp;header=true&amp;height=62"></iframe>
</div>