<ul class="menu">
  <li class="title"><H3><%= user_signed_in? ? "Other developers" : "Developers" -%></H3></li>
  <li style='background: url(images/category.png) no-repeat;background-position:0px 4px;padding-left:24px'>
    <a href="#">Menu Title</a>
  </li>

  <li style='background: url(images/contents.png) no-repeat;background-position:0px 4px;padding-left:24px'>
    <a href="#">Menu Title</a>
  </li>

  <li style='background: url(images/pages.png) no-repeat;background-position:0px 4px;padding-left:24px'>
    <a href="#">Menu Title</a>
  </li>

  <li style='background: url(images/pdf.png) no-repeat;background-position:0px 4px;padding-left:24px'>
    <a href="#">Menu Title</a>
  </li>

  <li style='background: url(images/newslatter.png) no-repeat;background-position:0px 4px;padding-left:24px'>
    <a href="#">Menu Title</a>
  </li>

  <li style='background: url(images/settings.png) no-repeat;background-position:0px 4px;padding-left:24px'>
    <a href="#">Menu Title</a>
  </li>

  <li style='background: url(images/logout.png) no-repeat;background-position:0px 4px;padding-left:24px'>
    <a href="#">Menu Title</a>
  </li>
</ul> 
