<ul class="menu">
  <li class="title"><H3><%= user_signed_in? ? "Other developers" : "Developers" -%></H3></li>
  <div id="following-avatars" class="content">
	  <% @all_users.each do |u| %>
			<a>
			  <% if u.avatar.url != "/avatars/original/missing.png" %>
    		  <%= image_tag u.avatar.url(:thin), :class => "teaser-thumb", :title => "#{u.email}" %>
    		<% else %>
    		  <img src="../system/avatars/gravatarthin.jpg" class="teaser-thumb" alt="Avatarl">
    		<% end %>   				  
			</a>
		<% end %>  				
	</div>	
</ul> 
