<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
		<th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
		<td></td>
    <td><%= mp3_player song.mp3.url, { bg: "99FFFF", text: 'FF0000'} %> <%#= link_to 'play', song %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
