<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml"><head profile="http://gmpg.org/xfn/11">
  <head>
    <title>FaceBook Style CSS Template</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="www.intelisoftbd.com">
    <style>
      body{
      padding-left:5%;
      padding-right:5%;
      padding-top:0px;
      margin-top:0px;
      font-size:8pt;
      }

      html, body, #wrapper{ height: 100%; }
            body > #wrapper{ height: auto; min-height: 99.65%; margin-top:-105px;}
    </style>
    <%= stylesheet_link_tag 'template' %>
  </head>

  <body>
    <div class="topbar">
      <div class="logo" id="logo"><br><br><img src='images/logo_small.png'></div>
      <div class="msg" id="msg">This is a test message</div>
    </div>  
    <div class="sidebar">
      <ul class="menu">
        <li class="title"><H3>Menu</H3></li>
        <li style='background: url(images/category.png) no-repeat;background-position:0px 4px;padding-left:24px'>
          <a href="#">Menu Title</a>
        </li>

        <li style='background: url(images/contents.png) no-repeat;background-position:0px 4px;padding-left:24px'>
          <a href="#">Menu Title</a>
        </li>

        <li style='background: url(images/pages.png) no-repeat;background-position:0px 4px;padding-left:24px'>
          <a href="#">Menu Title</a>
        </li>

        <li style='background: url(images/pdf.png) no-repeat;background-position:0px 4px;padding-left:24px'>
          <a href="#">Menu Title</a>
        </li>

        <li style='background: url(images/newslatter.png) no-repeat;background-position:0px 4px;padding-left:24px'>
          <a href="#">Menu Title</a>
        </li>

        <li style='background: url(images/settings.png) no-repeat;background-position:0px 4px;padding-left:24px'>
          <a href="#">Menu Title</a>
        </li>

        <li style='background: url(images/logout.png) no-repeat;background-position:0px 4px;padding-left:24px'>
          <a href="#">Menu Title</a>
        </li>
      </ul> 
    </div>

    <div class="body">
      <H3 class="title">Title H3 [css class `title`]</H3>
      <br>

      <p>
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      </p>

      &nbsp;<table border="0" cellpadding="5" cellspacing="0" width="100%" class="datatable">
      	<tr>
      		<th align="left">&nbsp;ID</th>
      		<th align="left">&nbsp;Title</th>
      		<th align="left">&nbsp;Date</th>
      		<th align="left">&nbsp;Action</th>
      	</tr>
      	<tr>
      		<td>&nbsp;1</td>
      		<td>&nbsp;Title Line 1</td>
      		<td>&nbsp;2009-05-12</td>
      		<td>&nbsp;Edit - Delete</td>
      	</tr>
      	<tr>
      		<td>&nbsp;1</td>
      		<td>&nbsp;Title Line 1</td>
      		<td>&nbsp;2009-05-12</td>
      		<td>&nbsp;Edit - Delete</td>
      	</tr>
      	<tr>
      		<td>&nbsp;1</td>
      		<td>&nbsp;Title Line 1</td>
      		<td>&nbsp;2009-05-12</td>
      		<td>&nbsp;Edit - Delete</td>
      	</tr>
      </table>


      <p>
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      </p>


      <p>
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      </p>


      <p>
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      </p>


      <p>
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents Here is some test contents 
      </p>

    </div>
 
    <div class="wrapper" style="clear:both;height:50px;"></div>

    <div class="footer" id="footer">
      <img src="images/logo_small.png" align=absmiddle title="www.intelisoftbd.com"> Designed By <a target="_blank" href='http://www.intelisoftbd.com'>Intelisoft Solutions</a>.
    </div>

  </body>
</html>

 
